<!DOCTYPE html>
<html>
<head>
    <title>Calculadora de IMC</title>
    <script>
        function calculateIMC() {
            var weight = parseFloat(document.getElementById("weight").value);
            var height = parseFloat(document.getElementById("height").value);
            var imc = weight / (height * height);
            var result = "";

            if (imc < 18.5) {
                result = "Magreza";
            } else if (imc >= 18.5 && imc <= 24.9) {
                result = "Normal";
            } else if (imc >= 24.9 && imc <= 30) {
                result = "Sobrepeso";
            } else {
                result = "Obesidade";
            }

            document.getElementById("result").innerText = "IMC: " + imc.toFixed(2) + ", Resultado: " + result;
        }
    </script>
</head>
<body>
    <h1>Calculadora de IMC</h1>
    <label for="weight">Peso (kg):</label>
    <input type="number" id="weight">
    <br>
    <label for="height">Altura (m):</label>
    <input type="number" id="height">
    <br>
    <button onclick="calculateIMC()">Calcular</button>
    <p id="result"></p>
</body>
</html>
